table {
    width: 80%;
    margin: auto;
    box-sizing: border-box;;
}
.nav-wrapper{
    padding: 0 50px;
    box-sizing: border-box;
}


.userName,
.logout
{
    display: flex;
}
.userName .name {
    font-size: 10px;
    
}
.userName {
    margin-right: 10px;
}
.userName .icon {
    margin-right: 5px;
}
.logout{
    padding: 0;
}