table {
    width: 80%;
    margin: auto;
    box-sizing: border-box;;
}
.navbar {
    width: 100%;
    height: 58px;
    background-color: darkblue;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    z-index: 99999 ;
  }

  
.navbar-wrapper{
    /* padding: 0 50px; */
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    padding-left:10%;
    padding-right: 10%;
    box-sizing: border-box;
}
.navbar-wrapper NavLink {
    cursor: pointer;
}
.items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu {
    height: 100%;
    max-width:1000px;
    width: 100%;
    color: white;
    display: flex;
    justify-content:space-between;
    margin: 0;
}
.username-menu {
    color: white;
    display: flex;
    justify-content:space-between;
}


.items li {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
 
}
.items li a{
    color: white;
  
}
.bars {
    color: white;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.userName,
.logout
{
    display: flex;
}
.userName .name {
    font-size: 10px;
    
}
.userName {
    margin-right: 10px;
}
.userName .icon {
    margin-right: 5px;
}
.logout{
    padding: 0;
}

@media screen and (max-width: 900px) {
    .bars {
        opacity: 1;
        visibility: visible;
    }
    .navbar-wrapper {
       opacity: 0;
       visibility: hidden
    }
    /* .items {
        flex-direction: row-reverse;
    } */

}

@media screen and (max-width: 900px) {

     .responsive .navbar-wrapper {
        opacity: 1;
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        background-color: darkblue;
    }
    .responsive .menu  {
        height: 100%;
        max-width:1000px;
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .responsive .username-menu  {
       display: none;
    }
}
