table {
    width: 80%;
    margin: auto;
    box-sizing: border-box;;
}
.navbar {
    width: 100%;
    height: 58px;
    background-color: darkblue;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99999 ;
    padding-left:15px;
    padding-right: 15px;
  }

  .navLinks {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
/* .navbar-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    padding-left:10%;
    padding-right: 10%;
    background-color: red;
} */
.navbar NavLink {
    cursor: pointer;
}


.menu {
    height: 100%;
    width:50%;
    margin: 0;
    color: white;
    display: flex;
    justify-content:space-between;
    box-sizing: border-box;  
}
.username-menu {
    color: white;
    display: flex;
    justify-content:space-between;
}


.navLinks li {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
 
}
.navLinks li a{
    color: white;
  
}
.toggle {
    opacity: 0;
    visibility: hidden;
    color: white;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.userName,
.logout
{
    display: flex;
}
.userName .name {
    font-size: 10px;
    
}
.userName {
    margin-right: 10px;
}
.userName .icon {
    margin-right: 5px;
}
.logout{
    padding: 0;
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    .toggle {
        opacity: 1;
        visibility: visible;
        color: white;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }
    .menu {
        width: 40%;
        position: absolute;
        right: 0;
        top: 58px;
        height: 100vh;
        background-color: darkblue;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .menu .navLinks {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
   
    .username-menu {
        width: 30%;
    }

    .menu.active {
      transform: translateX(0%);
    }
}
@media screen and (max-width: 1400px) and (min-width: 1024px){
 
    .menu {
        width:70%;
    }
    .username-menu  {
        width: 20%;
      
    }
}
@media screen and (max-width: 1024px) {
    

     /* .navbar.responsive {
        opacity: 1;
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0px;
        width: 300px;
        height: 100vh;
        background-color: darkblue;
    }
    .responsive .navbar.active {
        position: absolute;
        top: 0;
        right: 0px;
        width: 300px;
        height: 100vh;
        background-color: darkblue;
    }
    .responsive .menu  {
        height: 100%;
        max-width:1000px;
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .responsive .username-menu  {
       display: none;
    } */
}
