.messages-container{
    width: 60%;
    top: 150px;
    border: solid #ccc 1px;
    position: relative;
    margin: auto;
}

.wrapper {
    width: 30%;
    border: solid #ccc 1px;
    padding: 3rem;
}

.wrapper > div {
    margin: 10px;
}

.InputContainer {
    width: 75%;
    /* display: flex; */
    height: 85vh;
    border: 1px solid;
    align-items: flex-end;
    margin: 0px;
}

.nameMessage {
    display: flex;
}

.userName {
    font-weight: bold;
}